<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1> Our Current users</H1>
    <table border = "1">
    <% 
    let users = locals.users;
    for(user of users){ %>
        <tr>
            <td><a href= "/users/<%= users.indexOf(user) %>"><%=user.firstName %></a></td>
            <td><%= user.lastName %></td>
        </tr>
      
    <% } %>
    </table>
</body>
</html>